[Desktop Entry]
Encoding=UTF-8
Name=Link to Paletton - The Color Scheme Designer
Type=Link
URL=http://paletton.com/#uid=75B0u0kseuhhyC+mBvMuMovzCjn
Icon=text-html
